<!DOCTYPE html>
<html>
	<head>
		<title>Dashboard</title>
	</head>
	<body>
		<header-container>
			<% if (locals.isConnected && isConnected) { %>
				<form action="/logout" method="post">
					<button name="logout">Logout</button>
				</form>
			<% } %>
		</header-container>
		<error-container>
			<% if (locals.error && error.length > 0) { %>
				<h2>Errors:</h2>
				<li>
					<% for (let i in error) { %>
						<ul><%= error[i] %></ul>
					<% } %>
				</li>
			<% } %>
		</error-container>
		<main-container>
