<script type="text/javascript">
{
	<% if (locals.options) { %>
		let ct_options = <%- locals.options %>;
		if (!ct_options.location_key || ct_options.location_key === '') {
			if (!ct_options.city || ct_options.city === '') {
				getLocationKey('Lyon');
			}
			else {
				getLocationKey(ct_options.city);
			}
		}
		getCityTemperature();

		function getCityTemperature() {
			let url = `${ct_options.base_url}/currentconditions/v1/${ct_options.location_key}?apikey=${ct_options.api_key}`;
			return $.ajax({
				url: url,
				type: "GET",
				dataType: 'jsonp'
			}).done((data) => {
				if (data && data[0]) {
					let html = `<ul class="list-group list-group-flush">
									<li class="list-group-item">${data[0].Temperature.Metric.Value} °C</li>
								</ul>`
					$('#content-city_temperature').html(html);
				}
			});
		}

		function getLocationKey(city) {
			let url = `${ct_options.base_url}/locations/v1/cities/search?apikey=${ct_options.api_key}&q=${city}`;
			return $.ajax({
				url: url,
				type: "GET",
				dataType: 'jsonp'
			}).done((data) => {
				if (data && data[0]) {
					updateWidget({
						service: 'weather',
						widget: 'city_temperature',
						city: city,
						location_key: data[0].Key
					}).catch((err) => { console.log(err); });
				}
				else {
					console.log('city not found');
				}
			});
		}
	<% } %>
}
</script>
