<!DOCTYPE html>
<html>
	<head>
		<meta charset="utf -8">
		<link rel="stylesheet" type="text/css" href="/css/app.css">
	</head>
	<body>
		<div class= "sidebar">
			<div class="title">
				<p> La tundra pese sisi</p>
			</div>
			<ul class="widget">
				<li class="widget-item">
					meteo
				</li>
				<li class="widget-item">
					bourse
				</li>
				<li class="widget-item">
					cinema
				</li>
				<li class="widget-item">
					steam
				</li>
				<li class="widget-item">
					google map
				</li>
				<li class="widget-item">
					youtube
				</li>
			</ul>
		</div>
		<div class="header">
		</div>		
		<script src="https://code.jquery.com/jquery-1.12.4.min.js"></script>
	</body>
</html>
